.not-found-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: #e6edfc;
}

.not-found-content {
  padding: 100px 70px;
  background: #fff;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 0px 14px -14px rgba(0, 0, 0, 0.75);
}

.not-found-content span {
  color: #666;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
}

.not-found-content h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.not-found-content p {
  font-size: 1rem;
  color: #666;
  max-width: 360px;
  width: 100%;
  margin: 10px 0;
}

.not-found-content a {
  font-size: 0.9rem;
  color: #fff;
  background-color: #37538a;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.not-found-content a:hover {
  background: #263c67;
}

@media (max-width: 768px) {
  .not-found-content {
    padding: 60px 40px;
    max-width: 90%;
  }

  .not-found-content span {
    font-size: 4.5rem;
    margin-bottom: 20px;
  }

  .not-found-content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .not-found-content {
    padding: 40px 20px;
    border-radius: 16px;
  }

  .not-found-content span {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }

  .not-found-content h1 {
    font-size: 1.5rem;
  }

  .not-found-content p {
    font-size: 0.9rem;
  }

  .not-found-content a {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
}
